{% extends 'base.html' %}

{% block head %}

<title>Library Book Search</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% endblock %}

{% block body %}
<div class="content">
    <h1 style="font: size 40px;" style="text-align: center"><span style="color:rgb(0, 0, 255)"></span>Book Quest</h1>
    

    <div class="form">
        <img src={{url_for('static', filename='book.jpg')}} alt="book" style="width:200px;height:200px;"><br/> &nbsp <br/>
        <form action="/search" method="POST">
            <input type="text" name="content" id="content" style="text-align:left" placeholder="Enter the genre of books.." size="50" required/><br><br>
            <input type="submit" name ="search"value="Book Search" style="text-align: center" ><br/> &nbsp <br/>
        </form>
    </div>
</div>
{% endblock %}